@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  text-transform: capitalize;
  width: fit-content;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}

.main input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #cccccc;
  border-radius: 6px;
}

/* Checked effect */
.main input:checked ~ .checkbox-container {
  background-color: black;
}

/* Checkmark */
.checkbox-container::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Display checkmark when checked */
.main input:checked ~ .checkbox-container::after {
  display: block;
}
